@import url(https://fonts.googleapis.com/css?family=Lato);


.loading {
  color: white;
  letter-spacing: 1rem;
  font-size: 3rem;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  position: fixed;
  z-index: 99999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.loading span {
  animation: blur 1.5s alternate infinite;
}

@keyframes blur {
  to {
    filter: blur(5px);
  }
}
